
 body{
    background-color:black;
    font-family: 'Press Start 2P', cursive;
}
 h1{
    margin: 0;
    font-size: 16px;
}
 button{
    border: 0;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}
 button:hover {
    background-color: #ddd;
}

#overlappingDiv{
    background-color:black; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    opacity: 0; 
    pointer-events: none
}

.draggle-name-card{
    background-color: white;
    width: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 4px black solid;
    font-size: 16px;
    padding: 12px;
}
 /*draggle's health bar*/
#health-bar{
    position: relative;
    height: 5px;
    margin-top: 10px;
    background-color: #ccc;
}
#green-bar{
    background-color: green;
    height: 5px;
    right: 0;
    left: 0;
    position: absolute;
}
 /*emby's health bar*/
 .emby-name-card{
    background-color: white;
    width: 250px;
    position: absolute;
    top: 330px;
    right: 50px;
    border: 4px black solid;
    font-size: 16px;
    padding: 12px;
}
#health-bar2{
    position: relative;
    height: 5px;
    margin-top: 10px;
    background-color: #ccc;
}
#green-bar2{
    background-color: green;
    height: 5px;
    right: 0;
    left: 0;
    position: absolute;
}
.attack-bar{
    background-color: white; 
    height: 140px; 
    position: absolute; 
    bottom: 0; 
    right: 0;
    left: 0;
    border-top: 4px black solid;
    display: flex;
}

.btn{
    width: 66.66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attack-margin {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 33.33%;
    border-left: 4px black solid;
}